<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hckk.sgl.orderservice.mapper.OrderMapper">

    <resultMap id="OrderList" type="com.hckk.sgl.orderservice.entity.Order">
        <id property="id" column="id"/>
        <id property="username" column="user_name"/>
        <id property="nickname" column="nick_name"/>
        <id property="departmentId" column="department_id"/>
        <id property="address" column="address"/>
        <id property="orderTime" column="order_time"/>
        <id property="reason" column="reason"/>
        <id property="remark" column="remark"/>
        <id property="departmentName" column="department_name"/>
        <id property="firstDepartmentId" column="first_department_id"/>
        <id property="firstDepartmentName" column="first_department_name"/>
    </resultMap>

    <insert id="createOrder" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.hckk.sgl.orderservice.entity.Order">
        INSERT INTO orders (order_time, nick_name, user_name, department_id, address, reason,
                            remark, department_name, first_department_id, first_department_name)
        VALUES (#{orderTime}, #{nickname}, #{username}, #{departmentId}, #{address}, #{reason}, #{remark},
                #{departmentName}, #{firstDepartmentId}, #{firstDepartmentName})
    </insert>

    <delete id="deleteOrder">
        DELETE FROM orders
        WHERE id = #{id}
    </delete>

    <select id="findOrdersInDate" parameterType="java.util.Map" resultMap="OrderList">
        SELECT *
        FROM orders
        WHERE date_format(order_time,'%Y-%m-%d') = #{date}

        <if test="userName != null and userName != ''">
            AND user_name = #{username}
        </if>
        <if test="departmentId != null and departmentId != 0">
            AND department_id = #{departmentId}
        </if>
        <if test="firstDepartmentId != null and firstDepartmentId != 0">
            AND first_department_id = #{firstDepartmentId}
        </if>
        <if test="address != null and address != 2">
            AND address = #{address}
        </if>
        <if test="nickName != null and nickName != ''">
            AND nick_name = #{nickname}
        </if>

        ORDER BY order_time ASC
    </select>

    <update id="addRemark" parameterType="com.hckk.sgl.orderservice.entity.Order">
        UPDATE orders
        SET remark = #{remark}, reason = #{reason}
        WHERE id = #{id}
    </update>

    <select id="findOrderById" resultMap="OrderList">
        SELECT *
        FROM orders
        WHERE id = #{id}
    </select>
</mapper>